.crawl-container {
    position: relative;
    height: calc(100vh - 64px); /* Subtract the height of the NavBar */
  }
  
  .crawl-text {
   
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    text-align: center;
    color: rgb(30,233,121);
    font-size: 28px;
    line-height: 1.3;
  }
  
  